@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}
<section class="masthead team" style="padding:10rem 5rem ;">

    <h2 class="text-white" style="font-size:4em;">Roles</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table-striped text-white" style="border-spacing:20px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</section>